* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
  }
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
     background-color:  #f2f2f2;
}
nav ul {
    display: flex;
    justify-content:flex-end;
margin-top: 2%;




}
.navl{
    padding-right: 30px;

}
.logo{
   height:80px;
   margin-left: 10%;
}
.headerimg{
    position: relative;
}
.headerimg img{
width:100%;
height:85vh;
}
.headersocial{
    display: flex;
    position:absolute;
    top: 90%;
    left: 67%;
    
}
.headersocial li a{
    margin-left: 30px;
}
.headersocial .fa{
    
  border-radius: 50%;
  border: 1px solid black;
  padding: 8px;
}
.headersocial .fa:hover{
    color: skyblue;
 
  }

a{
    color: black;
}
.hov a:hover{
   
    border-radius: 15px 15px 15px 15px;
    background-color: rgba(105, 7, 7, 0.767);
    color:white;
    padding: 6px;;
}
.heading1{

    text-align: center;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    padding-top: 30px;
  
}
.categoryimg{
    display: flex;
    justify-content: center;
    margin-top: 50px;;

    

}
.ci{
    background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
  border-radius: 5px;
  height:100px;
  width:100px;
  margin-left: 15px;
  
}
.ci img{
    margin-left:25px;;
    width: 50%;
    margin-top: 20px;
   
}
.ci3 img{
    height: 50px;
}
.ci h5{
    
    color: rgba(105, 7, 7, 0.767);
   
    text-align: center;
}

.catfb{
margin-left: 50%;
display: flex;
position: relative;
margin-top: 3%;
}
.fa-caret-left{
    position: absolute;
    top: 8px;
    margin-left: -20px;
    font-size: 40px;
    

}
.fa-caret-right{
    position: absolute;
    top: 8px;
    left: 10px;;
  
    font-size: 40px;
   
}
.products{
    margin-top: 5%;
    position: relative;
}
.products img{
    width:100%;
    
}
.productstext{
    color:white;
    
    position: absolute;
    left: 45%;;
    bottom: 85%;
}
.productstext h4{
    margin-left:40px;
}
.productsitems{
    position: absolute;
    display: flex;
    justify-content: center;
  bottom: 20%;
  left: 16%;

}
.productimages{
    width:140px;
    height: 140px;
    background-color: white;
    border-radius: 10px;
   margin-bottom: 30px;

    
    
}
.productimages img{
    width:80px;
    height: 110px;
    margin-top: 20px;;
    margin-left: 30px;;
    
}
.product-box{
    margin-left: 100px;
}
.prodtext h1{
    padding-top: 20px;
    padding-left: 20px;
    color: white;

}
.prodtext h2{
    padding-top: 40px;
    padding-left: 40px;;
    color: white;


}
.mc{
    margin-left: 30px;;
}
.catfb2{
    margin-left: 50%;
    display: flex;
    position: relative;
    margin-top: -7%;
    
    }
    .fa-caret-left{
        position: absolute;
        top: 8px;
        margin-left: -20px;
        
        font-size: 40px;
        color: white;
    
    }
    .fa-caret-right{
        position: absolute;
        top: 8px;
        left: 10px;;
        color: white;
        font-size: 40px;
       
    }
    .discount{
        display: flex;
        flex: 1;
        margin-left: 3%;;
     margin-top: 10%;;
    }
    .ldiscount {
       border-radius: 10px;}
      .ldiscount img{
        width:96%;
      }
      .rdiscount {
        border-radius: 10px;}
       .rdiscount img{
         width:96%;
       }
 
       .main-circle{

display: flex;
justify-content: space-around;
margin-left: 15%;
margin-right: 15%;
       }
       .leftcircle{
           width:270px;
           height:270px;
           border-radius: 200px;
           background-image:url(images/bg-image.jpg) ;
           position:absolute;
           top:-15px;
           left:10px;

       }
       .leftcircle h1{
           position: absolute;
           margin-top:60px;
           left:26px;
           color:rgba(105, 7, 7, 0.767);
           font-family: 'Fredoka One', cursive;
       }
       .circleborder{
           border-radius: 100%;
           border:3px  solid  rgba(105, 7, 7, 0.767);
           width:270px;
           height:270px;
           margin-top: 30px;
           position: relative;
       }
       .leftcircle img{
           width:120px;
           height:120px;
           position: absolute;
           top:100px;
           left:70px;
       }
       .rightcircle{
        width:270px;
        height:270px;
        border-radius: 200px;
        background-image:url(images/bg-img1.jpg) ;
        position:absolute;
        top:-15px;
        left:10px;

    }
    .rightcircle h1{
        position: absolute;
        margin-top:60px;
        left:26px;
        color:rgba(105, 7, 7, 0.767);
        font-family: 'Fredoka One', cursive;
    }
    
    .rightcircle img{
        width:120px;
        height:120px;
        position: absolute;
        top:100px;
        left:70px;
    }
.brands{
    background-color:#f2f2f2;
    margin-top: 4%;;
}
.brandsheading{
    text-align: center;
    padding-top: 20px;;
}
.brandsheading h1{
    font-family: 'Lobster', cursive;
    }
    .brandsheading h2{
        font-weight: bolder;
        font-size: 30px;;
        font-family: "Arial Black", Gadget, sans-serif;
        padding-top: 20px;;
        }


.brandsimg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 10%;
}
.brandsimg img{
    width:120px;
    height: 80px;
    margin-left: 120px;
    margin-top: 5%;
    justify-content: space-around;
    padding-bottom: 20px;;
}
.blogsheading{
    text-align: center;
}
.blogsheading h1{
    font-weight: bolder;
    font-size: 30px;;
    font-family: "Arial Black", Gadget, sans-serif;
}
.blogs{
    margin-top:3%;
}
.blogsheading h2{
    font-weight: bolder;
    font-size: 20px;;
    font-family: 'Lobster', cursive;
}
.blogboxes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box{
    width:350px;
}
.box img{
    width:100%;
}
.box h1{
    padding-top: 3%;
}
.box h3{
    padding-top: 5%;
    color: rgba(105, 7, 7, 0.767)
}
.box p{
    padding-top: 2%;

}

.indicator{
    display: flex;
    justify-content: center;

}
ul>li>a{
    color:rgba(105, 7, 7, 0.767);
   
}
.delivery{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    margin-left: 23%;
    margin-right: 23%;
    flex-wrap: wrap;
  


}
.dbox{
    width:250px;
    border:3px solid rgba(105, 7, 7, 0.767);
    border-radius: 10px;
}
.dbox img{
    margin-left: 70px;;
}

.dbox h1{
    margin-left: 40px;
    color: rgba(105, 7, 7, 0.767);
}
.dbox p{
    margin-left: 30px;;
}
.footer{
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;;
    margin-top: 5%;;
}
.fr1{
    width:30%;
    position: relative;

}
.fr2{
    width:23%;

}
.fr3{
    width:23%;

}
.fr4{
    width:23%;

}

.fr1 input{
    margin-top: 4%;;
    background-color: #4d2800;
    width:340px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgb(112, 88, 43);
}
.fr1 img:nth-of-type(2) {
    position: absolute;
    top:57%;
}
.arrow {
    margin-left: -60px;
    
    width:50px;
    height:50px;
    margin-top:10px;
    padding-top: 35px;
   
}
.fr2 h1{
    border-bottom:3px solid rgb(112, 88, 43);
    padding-bottom:3px;
    width:40%;
    color:rgb(112, 88, 43);
}
.fr3 h1{
    border-bottom:3px solid rgb(112, 88, 43);
    padding-bottom:3px;
    width:70%;
    color:rgb(112, 88, 43);
}
.fr4 h1{
    border-bottom:3px solid rgb(112, 88, 43);
    padding-bottom:3px;
    width:40%;
    color:rgb(112, 88, 43);
}
.fr4 i{
    border-radius: 100%;;
    border:2px solid rgb(112, 88, 43);
    padding:4px;
    color:rgb(112, 88, 43);
}

.line{
    width: 100% ;background-color: brown;height: 3px;;
}
@media screen and (min-width:967px)and ( max-width:1440px){
    nav{
        width:120%;
    }
    #hed1 img{
        width:120%;
    }
    .discount{
        display: flex;
        flex: 1;
        margin-left: 10%;
     margin-top: 10%;;
    }
    .ldiscount {
       border-radius: 10px;}
      .ldiscount img{
        width:110%;
        margin-right: 50px;;
      }
      .rdiscount {
        border-radius: 10px;}
       .rdiscount img{
         width:110%;
         margin-left: 30%;
       }
       .main-circle{
           margin-left: 20%;
           margin-right: -10%;;
       }
       .line{
           width:120%;

       }
 }
 @media screen and (min-width:967px)and ( max-width:974px){
    .discount{
        display: flex;
        flex: 1;
        margin-left: 10%;
     margin-top: 10%;
     width:110%;
    }
    .ldiscount {
       border-radius: 10px;}
      .ldiscount img{
        width:120%;
        margin-right: 50px;;
      }
      .rdiscount {
        border-radius: 10px;}
       .rdiscount img{
         width:120%;
         margin-left: 45%;
       }
       .main-circle{
        margin-left: 30%;
        margin-right: -20%;;
    }
    .line{
        width:140%;

}
 }

 @media screen and ( min-width:740px)and ( max-width:966px){
        nav{
            width:150%;
        }
        #hed1 img{
            width:150%;
        }
        .discount{
            display: flex;
            flex: 1;
            margin-left: 10%;
         margin-top: 5%;
         width:110%;
        }
        .ldiscount {
           border-radius: 10px;}
          .ldiscount img{
            width:120%;
            margin-right: 50px;;
          }
          .rdiscount {
            border-radius: 10px;}
           .rdiscount img{
             width:120%;
             margin-left: 45%;
           }
           .main-circle{
            margin-left: 30%;
            margin-right: -20%;;
        }
        .line{
            width:150%;
    
    }
    }

@media screen and ( min-width:600px)and ( max-width:739px){
    nav{
        width:180%;
    }
    #hed1 img{
        width:180%;
    }
    .catsecimg{
        margin-left: 45%;
        margin-right: -40%;;
    }
    .discount{
        display: flex;
        flex: 1;
        margin-left: 10%;
     margin-top: 10%;
     width:130%;
    }
    .ldiscount {
       border-radius: 10px;}
      .ldiscount img{
        width:120%;
        margin-right: 50px;;
      }
      .rdiscount {
        border-radius: 10px;}
       .rdiscount img{
         width:120%;
         margin-left: 45%;
       }
       .main-circle{
        margin-left: 50%;
        margin-right: -40%;;
    }
    .line{
        width:180%;

}
}

@media screen and ( min-width:500px)and ( max-width:599px){
    nav{
        width:220%;
    }
    #hed1 img{
        width:220%;
    }
    .catsecimg{
        margin-left: 45%;
        margin-right: -40%;;
    }
    .ci{
        height:130px;
    }
    .ci img{
        width:80px;
        height:70px;
    }
    .discount{
        display: flex;
        flex-direction: column;
        margin-left: 5%;;
    }
    .ldiscount {
        width:220%
      
    }
      .ldiscount img{
        width:100%;
      }
     
       .rdiscount img{
         width:130%;
         margin-left: 50%;
       }
       .main-circle{
        display: flex;
        flex-direction: column;
        margin-left: 90%;
    }
    .line{
        width:225%;

}
    
}
@media screen and ( min-width:412px)and ( max-width:499px){
    nav{
        width:250%;
    }
    #hed1 img{
        width:250%;
    }
    .heading1{
        margin-left: 90%;
        width:100%;
    }
    .catsecimg{
        margin-left: 65%;
        margin-right: -80%;;
    }
    .ci{
        height:130px;
    }
    .ci img{
        width:80px;
        height:70px;
    }
    .discount{
        display: flex;
        flex-direction: column;
        margin-left: 5%;;
    }
    .ldiscount {
        width:260%
      
    }
      .ldiscount img{
        width:90%;
        margin-left: 3%;;
      }
     
       .rdiscount img{
         width:150%;
         margin-left: 55%;
       }
       .main-circle{
        display: flex;
        flex-direction: column;
        margin-left: 100%;
    }
    .line{
        width:250%;

}
}
@media screen and ( min-width:370px)and ( max-width:411px){
    nav{
        width:300%;
    }
    #hed1 img{
        width:300%;
    }
    .heading1{
        margin-left: 90%;
        width:100%;
    }
    .catsecimg{
        margin-left: 65%;
        margin-right: -80%;;
    }
    .ci{
        height:130px;
    }
    .ci img{
        width:80px;
        height:70px;
    

}
.catfb{
    display: none;
}
.discount{
    display: flex;
    flex-direction: column;
    margin-left: 5%;;
}
.ldiscount {
    width:280%
  
}
  .ldiscount img{
    width:100%;
    margin-left: 3%;;
  }
 
   .rdiscount img{
     width:150%;
     margin-left: 70%;
   }
   .main-circle{
    display: flex;
    flex-direction: column;
    margin-left: 110%;
}
.line{
    width:300%;

}
}
@media screen and (min-width:1200px)and ( max-width:1436px){
    .heading1{
        margin-left: 30%;
   
}
.products{
    width:120%;
   
    
}
.catsecimg{
    margin-left: 30%;;
}
.brands{
    width:120%;
    
}
.blogs{
    margin-left: 20%;
}
.delivery{
    margin-left: 10%;
    width:100%;

}
.footer{
    width:110%;
}
}
@media screen and ( min-width:1000px)and ( max-width:1199px){
    .heading1{
        margin-left: 35%;;
   
}
.catsecimg{
    margin-left: 35%;;
}
.brands{
    width:120%;
    
}
.blogs{
    margin-left: 20%;
}
.delivery{
    margin-left: 10%;
    width:100%;

}
.footer{
    width:110%;
}


}
@media screen and ( min-width:1100px)and ( max-width:1199px){
    .products{
        width:120%;
    }
    .brands{
        width:120%;
       
        
    }
}
@media screen and ( min-width:975px)and ( max-width:1099px){
    .products{
        width:120%;
        height:600px;
    }
    .productsitems{
        margin-left: -10%;
        padding-bottom: -10px;
        
    }
    .product-box{
        padding-top: 20px;;
    }
    .productstext{
        padding-bottom: 20px;;
    }
    .brands{
        width:120%;
        

    }
    .blogs{
        margin-left: 20%;
    }
    .delivery{
        margin-left: 10%;
        width:100%;
    
    }
    .footer{
        width:110%;
    }
    .fr1{
        width:40%;
    }
}
@media screen and ( min-width:750px)and ( max-width:974px){
    .products{
        width:150%;
        height:600px;
    }
    .productsitems{
        margin-left: -10%;
        padding-bottom: -10px;
        
    }
    .product-box{
        padding-top: 20px;;
    }
    .productstext{
        padding-bottom: 20px;;
    }
    .brands{
        width:150%;
        
    }
    .blogs{
        margin-left: 24%;
        margin-right: -30%;
    
    }
    .delivery{
        margin-left: 30%;
        width:100%;
    
    }
    .footer{
        width:137%;
    }
    .fr1{
        width:40%;
    }
}

@media screen and ( min-width:740px)and ( max-width:749px){
    .products{
        width:150%;
        height:600px;
    }
   
    .productsitems{
        margin-left: -10%;
        padding-bottom: -10px;
        top: 60px;;
        
    }
    .product-box{
        padding-top: 20px;;
    }
    .productstext{
        padding-bottom: 20px;;
    }
    .brands{
        width:150%;
        
    }
    .blogs{
        margin-left: 24%;
        margin-right: -30%;
    
    
    }
    .delivery{
        margin-left: 30%;
        width:100%;
        
    
    }
    .dbox{
        margin-top: 10px;
    }
    .footer{
        width:137%;
    }
    .fr1{
        width:40%;
    }
}

@media screen and ( min-width:600px)and ( max-width:739px){
    nav ul li {
        font-size: 30px;
    }
    .products{
        width:180%;
        height:600px;
    }
   
    .productsitems{
        margin-left: -10%;
        padding-bottom: -10px;
        top: 60px;;
        
    }
    .product-box{
        padding-top: 20px;;
    }
    .productstext{
        padding-bottom: 20px;;
    }
    .brands{
        width:180%;
        
    }
    .blogs{
        margin-left: 24%;
        margin-right: -55%;
    
    }
    .delivery{
        margin-left: 40%;
        width:100%;
        
    
    }
    .dbox{
        margin-top: 10px;
    }
    .footer{
        width:167%;
    }
    .fr1{
        width:45%;
    }
    .footer p{
        font-size: 20px;
        font-weight: bolder;
    }
    .fr1 input{
        margin-top: 50px;
    }
}

@media screen and ( min-width:500px)and ( max-width:599px){
    nav ul li {
        font-size: 25px;
    }
    .products{
        width:220%;
        height:600px;
    }
   
    .productsitems{
        margin-left: -10%;
        padding-bottom: -10px;
        top: 60px;;
        
    }
    .product-box{
        padding-top: 20px;;
    }
    .productstext{
        padding-bottom: 20px;;
    }
    .brands{
        width:220%;
        
    }
    .blogs{
        margin-left: 34%;
        margin-right: -90%;
    
    }
    .delivery{
        margin-left: 60%;
        width:100%;
        
    
    }
    .dbox{
        margin-top: 10px;
    }
    .footer{
        width:167%;
        display: flex;
        flex-direction: column;
        margin-left: 60%;
    }
    .fr1{
        width:55%;
    }
    .fr2{
        width:55%;
    }
    .fr3{
        width:55%;
    }
    .fr4{
        width:55%;
    }

    .footer p{
        font-size: 30px;
        font-weight: bolder;
    }
    .footer h1{
        font-size: 50px;
        font-weight: bolder;
    }
    .fr1 img:nth-of-type(2){
    display: none;
    }
    .fr1 input{
        width:500px;
    }

}
@media screen and ( min-width:420px)and ( max-width:499px){
    nav ul li {
        font-size: 30px;
        font-weight: bolder;
    }
    .nav{
        height:80px;
    }
    .products{
        width:250%;
        height:600px;
    }
    .prodtext h2{
        margin-top: -30px;;
    }
    .prodtext h1{
        font-size: 25px;;
    }
   
    .productsitems{
        margin-left: -15%;
        padding-bottom: -10px;
        top: 60px;;
        
    }
    .product-box{
        padding-top: 20px;;
    }
    .productstext{
        padding-bottom: 20px;;
    }
    .brands{
        width:250%;
        
    }
    .blogs{
        margin-left: 73%;
        margin-right: -90%;
    
    }
    .box{
        width:120%;
    }
    .box h1{
        font-size: 50px;
    }
    .box h3{
        font-size: 40px;
    }
    .box p{
        font-size: 40px;
    }
    .blogsheading h2,h1{
        font-size: 50px;
    }
    .delivery{
        margin-left: 80%;
        width:100%;
        
    
    }
    .dbox{
        margin-top: 10px;
        width: 90%;
    }
    .dbox p{
       font-size: 30px;
    }
    .footer{
        width:167%;
        display: flex;
        flex-direction: column;
        margin-left: 80%;
    }
    .fr1{
        width:55%;
    }
    .fr2{
        width:55%;
    }
    .fr3{
        width:55%;
    }
    .fr4{
        width:55%;
    }

    .footer p{
        font-size: 30px;
        font-weight: bolder;
    }
    .footer h1{
        font-size: 50px;
        font-weight: bolder;
    }
    .fr1 img:nth-of-type(2){
    display: none;
    }
    .fr1 input{
        width:500px;
    }

}
@media screen and ( min-width:270px)and ( max-width:419px){
    
    nav ul li {
        font-size: 20px;
        font-weight: bolder;
    }.products{
        width:300%;
        height:600px;
    }
   
    .prodtext h1{
        font-size: 25px;;
    }
    .productsitems{
        margin-left: -15%;
        padding-bottom: -10px;
        top: 60px;;
        
    }
    .product-box{
        padding-top: 20px;;
    }
    .productstext{
        padding-bottom: 20px;;
    }
    .categoryimg{
        display: flex;
        flex-direction: column;
        
        
    }
    .ci{
        width:400px;
        height:250px;
        margin-top: 30px;
        margin-left: 90px;;
    }
    .ci h5{
        font-size: 30px;
    }
    .ci img{
        width:300px;
        height:150px;
        
    }
    .brands{
        width:300%;

    }
    .brandsimg img{
        width:130px;
        height:130px;
    }
    .blogs{
        margin-left: 73%;
        margin-right: -90%;
    
    }
    .box{
        width:120%;
    }
    .box h1{
        font-size: 50px;
    }
    .box h3{
        font-size: 40px;
    }
    .box p{
        font-size: 40px;
    }
    .blogsheading h2,h1{
        font-size: 50px;
    }
    .delivery{
        margin-left: 80%;
        width:100%;
        
    
    }
    .dbox{
        margin-top: 10px;
        width: 120%;
    }
    .dbox p{
       font-size: 30px;
    }
    .footer{
        width:167%;
        display: flex;
        flex-direction: column;
        margin-left: 80%;
    }
    .fr1{
        width:100%;
    }
    .fr2{
        width:100%;
    }
    .fr3{
        width:100%;    }
    .fr4{
        width:100%;
    }

    .footer p{
        font-size: 50px;
        font-weight: bolder;
    }
    .footer h1{
        font-size: 50px;
        font-weight: bolder;
    }
    .fr1 img:nth-of-type(2){
    display: none;
    }
    .fr1 input{
        width:500px;
    }
    

}


@media screen and ( min-width:600px)and ( max-width:999px){
    .heading1{
        margin-left: 45%;;
   
}
.catsecimg{
    margin-left: 35%;
}
.ci{
    width:200px;
    height: 120px;;
}
.ci img{
    width:70px;
}
}